<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <meta name="author" content="Ziemo Andrzejewski"/>
    <meta name="description" content="home page"/>
    <meta name="keyword" content="see results"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--<link rel="stylesheet" href="../static/style.css"/>-->
    <link rel="stylesheet" href="static/style.css"/>   <!--// path for web url-->
</head>
<body>
    <nav>
        <h2>Ziemo's GuestBook!</h2>
        <ul>
            <li><a href="index.html" target="_blank" title="home page">home</a></li>
            <li><a href="add.html" title="add new record for guestBook">add</a></li>
        </ul>
    </nav>

    <div class="content">
        <div class="title">
            <h1>Guest Book 2018 !</h1>
        </div>

        <div class="records">
            <table>
                {{entries}}
            </table>
            <br>
            <br>
            <button><a href="add.html">ADD RECORD</a></button>
        </div>

        <footer>
            <h4>2018 &reg; Ziemo Company</h4>
        </footer>
    </div>
</body>
</html>