<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign</title>
    <meta name="author" content="Ziemo Andrzejewski"/>
    <meta name="description" content="sign to guest book"/>
    <meta name="keyword" content="guestbook"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="static/css/style.css"/>
</head>
<body>
    <nav>
        <h2>Ziemo's guestBook</h2>
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="sign.html">sign the guestbook</a></li>
            <li><a href="index.html">down the list</a></li>
        </ul>
    </nav>

    <div class="content">
        <div class="sign">

            <form method="post">
                <h4>NAME</h4>
                <label for="name">
                    <input id="name" type="text" name="name" placeholder="type you name">
                </label>
                <h5>MESSAGE</h5>
                <label for="message">
                    <textarea id="message" name="message" rows="20" placeholder="type you message"></textarea>
                </label>
                <button>SEND</button>
            </form>

            <div class="footer">
                <p>Ziemo Andrzejewski company. All rights reserved.</p>
            </div>
        </div>

    </div>
</body>
</html>